/* ==========================================================================
   Defaults w/ values I'd use more that once
   ========================================================================== */


//COLOR 2: Hot Pink
$bgHotPink: rgb(164	0	88);
$bgDarkPink: rgb(253	159	185	);
//COLOR 2: Azure Blue
$bgBlue: rgb(146,	228,	222);

//COLOR 3: Green
$bgGreen: rgb(152, 183,	107	);

//COLOR 4: Grey
$bgGrey: rgb(21	,61,53	);

$font1: 'Open Sans', sans-serif;
$textPadding: 10px;
$photoPadding: 5px;
$outlinePattern: dashed;
$outlineWidth: 1px;
