/* ==========================================================================
   Defaults w/ values I'd use more that once
   ========================================================================== */
//COLOR 1: School Bus Yellow
$bgYellow: rgb(255, 216, 3);

//COLOR 2: Azure Blue
$bgBlue: rgba(227, 246, 245, .5);

//COLOR 3: Space Cadet Navy
$bgNavy: rgb(39, 35, 67);

$font1: JetBrains Mono;
$textPadding: 10px;
$photoPadding: 5px;
$outlinePattern: dashed;
$outlineWidth: 1px;
