/* ==========================================================================
   Defaults w/ values I'd use more that once
   ========================================================================== */


$bgHotPink: rgb(230, 73,	125);

//COLOR 2: Azure Blue
$bgBlue: rgba(227, 246, 245, .5);

//COLOR 3: Space Cadet Navy
$bgNavy: rgb(39, 35, 67);

$font1: 'Open Sans', sans-serif;
$textPadding: 10px;
$photoPadding: 5px;
$outlinePattern: dashed;
$outlineWidth: 1px;
